<h2>Solar Opt Disclaimer</h2>
<p>The Power Rays Incorporated is not responsible for any use of this system in violation of your local laws.</p>
<p>Please set up the system in a safe area where it will not present a hazard to yourself or others.</p>
<p>Please set up the system so that it lays flat on a horizontal surface. Use of level is recommended.</p>
<p>Please exercise caution around the electrical components of the system.</p>

