
<h3><b>Instructions: </b></h3>
<table class="table">
    <tr>
        <td>Step 1: Place Solar Opt on a level surface.</td>
        <td><img height="400" width="500" src="~/images/Level.gif" /></td>
    </tr>
    <tr>
        <td>Step 2: Verify microcontrller led is lit up.</td>
        <td><img height="400" width="500" src="~/images/Turn.gif" /></td>
    </tr>
    <tr>
        <td>Step 3: Turn Solar Opt primary panel to north.</td>
        <td><img height="400" width="500" src="~/images/Turn.gif" /></td>
    </tr>
    <tr>
        <td>Step 4: Use the Solar Opt setup screen to enter your location.</td>
        <td><img height="400" width="500" src="~/images/setup1.png" /></td>
    </tr>
    <tr>
        <td>Step 5: Press Send Data to intiate transfer.</td>
        <td><img height="400" width="500" src="~/images/setup2.png" /></td>
    </tr>


</table>




<h3><b>Warnings: </b></h3>
<hr />
<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#English">English</a></li>
    <li><a data-toggle="tab" href="#Spanglish">Español</a></li>
</ul>
<br />
<div class="tab-content">
    <div id="English" class="tab-pane active" fade in>
        <ul>
            <li><img src="~/images/FREEFALLIN.png" height="50" width="50" /> Handle with care, especially on uneven ground or stairs.</li>
            <li><img src="~/images/zapzap.jpg" height="50" width="50" />Exercise caution with the electrical connections, avoid electric shock.  Electrical components can produce shocks and can also become hot.</li>
            <li><img src="~/images/nochildzappedbehind.png" height="50" width="50" />Keep the system away from children.</li>
        </ul>
        <p></p>
    </div>
    <div id="Spanglish" class="tab-pane" fade in>
        <ul>
            <li><img src="~/images/FREEFALLIN.png" height="50" width="50" /> Manejar con cuidado, especialmente en el piso desnivelado o escaleras</li>
            <li><img src="~/images/zapzap.jpg" height="50" width="50" />Con cuidado con las conexiones eléctricas para evitar choque eléctrico. Componentes eléctricos pueden producir choque eléctrico y ser calientes al tocar. </li>
            <li><img src="~/images/nochildzappedbehind.png" height="50" width="50" />Mantenga el producto fuera del alcance de los niños </li>
        </ul>
    </div>
</div>

<h3><b>Maintenance:</b></h3>
<p>To maintain max efficiency of your solar panel, clean it regularly.</p>

<p>The system will need to be re-initialized daily according to the instructions.</p>


<h3><b>Disclaimer: </b></h3>
<p>The solar opt team is not responsible for any injuries that may occour due to improper use of the system.</p>
<p>Please operate this system in accordance with local laws and bylaws.</p>
