<h2>Solar Opt Disclaimer</h2>
<p>The Power Rays Incorporated Team is not responsible for any use of this system in violaiton of your local laws.</p>
<p>Please set up the system in a safe area where it will not present a hazard to yourself or others.</p>
<p>Please exercise caution around the electrical components of the system..</p>
