@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to SolarOpt</h1>
<h5>THERE IS A GOOD REASON FOR THE STATIC PANEL OK PROFESOR</h5>


<table id="organizer" class="table">
    <tr>
        <td id="Location"><button id="setLocation" class="btn btn-default">Set Location</button></td>
        <td id="Device"><button id="connectButton" class-="btn btn-default">Connect</button></td>
    </tr>
    <tr>
        <td id="Estimated">
            ESTIMATED POWER GOES HERE
            <canvas id="estimatedChart" width="400" height="400"></canvas>
        </td>
        <td id="Actual">
            ACTUAL POWER GOES HERE
            <canvas id="actualChart" width="400" height="400"></canvas>

        </td>
    </tr>
</table>

<button class="btn btn-lg" id="disclaimerButton">LEGAL DISCLAIMER</button>


@section Scripts{ 
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/Chart.js"></script>
    <script src="~/js/knockout-3.4.2.js"></script>
    <script src="~/js/expectedChart.js"></script>
}

<script>
    $("#disclaimerButton").click(function () {
        alert("Please ensure that you only operate your SolarOpt device in accordance with your local laws.");

    });
</script>