@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to SolarOpt</h1>

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div id="setupDialog" style="min-height:600px;">
    <p>To get started choose one of the three setup options below:</p>

    <hr />
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#useLastAddress">Use Last Address</a></li>
        <li><a data-toggle="tab" href="#googleMapApi">Select Address With Google</a></li>
        <li><a data-toggle="tab" href="#latLong">Enter Lat/Long Data Manually</a></li>
    </ul>
    <br />
    <div class="tab-content">
        <div id="useLastAddress" class="tab-pane" fade in>
            <p>Use the last address:</p>
            <br />
            <button id="lastAddress" class="btn btn btn-default">Use Last Address</button>
        </div>
        <div id="googleMapApi" class="tab-pane" fade in>
            <p>Enter Address:</p>
            <input type="text" id="address" />
            <br />
            <button id="googleButton" class="btn btn btn-default">Confirm Address</button>
        </div>
        <div id="latLong" class="tab-pane" fade in>
            <p>Enter Latitiude:</p>
            <input type="number" id="lat" />
            <p>Enter Longitude:</p>
            <input type="number" id="long" />
            <br />
            <button id="latLongInput" class="btn btn btn-default">Use Lat/Long</button>
        </div>

    </div>
</div>

<div id="mainScreen" style="display:none;">
    <p>Your Location:</p><button id="resetEverythingButton" onclick="window.location.reload(true);" class="btn btn-danger">Reset Address</button>    <button id="sendDataButton" onclick="alert('Data Sent!');" class="btn-default btn">Send Data</button>


</div>

<div id="map" style="display:none;"></div>

@section Scripts{
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/Chart.js"></script>
    <script src="~/js/knockout-3.4.2.js"></script>
}


    <script>
    var map;
    var marker;
    var geocoder;
    var times;
    var anglesA;
    var anglesH;

    function initMap() {
        var uluru = { lat: -25.363, lng: 131.044 };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
        geocoder = new google.maps.Geocoder;

    };
    var lat, long, address;

    $("#lastAddress").click(function () {
        $("#setupDialog").hide();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetLatLongFromSpreadsheet")',
            success: function (data) {
                var lat = data.lat;
                var lng = data.lng;
                latAndLong = new google.maps.LatLng(lat, lng);
                UpdateMap(latAndLong.lat(), latAndLong.lng());
                $("#map").show();
                $("#mainScreen").show();
            }
        });


    });

    $("#googleButton").click(function () {
        $("#setupDialog").hide();
        var address = ($("#address").val());
        var addressToGeocode = {
            address: address
        };
        var lat;
        var lng;
         if (geocoder) {
             geocoder.geocode({ 'address': address }, function (results, status) {
                 console.log(results);
                 lat = (results[0].geometry.location.lat());
                 lng = (results[0].geometry.location.lng());
                 map.setCenter(results[0].geometry.location);
                 marker.setPosition(results[0].geometry.location);
                 $("#map").show();
                 $("#mainScreen").show();
                 UpdateLatLongInSpreadSheet(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                 GetDataFromSpreadsheet(lat, lng);
                }
             );
         } else {
             alert("Address lookup failed, here's Austrailia!")

         }


    });

    $("#latLongInput").click(function () {
        $("#setupDialog").hide();
        lat = ($("#lat").val());
        long = ($("#long").val());

        UpdateMap(lat, long);
        $("#map").show();
        $("#mainScreen").show();


    });

    function UpdateMap(lat, long) {

        map.setCenter(new google.maps.LatLng(lat, long));
        marker.setPosition(new google.maps.LatLng(lat, long));

        };

    function GetDataFromSpreadsheet(lat, long) {
        var latLong = { lat: lat, lng:long };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDataFromSpreadsheet")',
            data:latLong,
            success: function (data) {
                console.log(data);
                times = data.time;
                anglesA = data.angleA;
                anglesH = data.angleH;
            },
            failure:
            function () {
                alert("ERROR");

            }
        });


        };

        function UpdateLatLongInSpreadSheet(lat, long) {

            var latLong = { lat: lat, lng: long, timeZone: new Date().getTimezoneOffset() };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateLatLongInSpreadSheet")',
            data:latLong,
            success: function () {
                console.log("DONE");

            },
            failure:
            function () {
                alert("ERROR");

            }
        });


        };

        $("#sendDataButton").click(function () {
            alert("CLICKED");
            $.ajax({
            type: 'POST',
            url: '@Url.Action("TCPRequester")',
            success: function () {
                console.log("DONE");
            },
            failure:
            function () {
                alert("ERROR");

            }
        });
        });
    </script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2o9SJdn5SnNhWGlW9I3MZJ0kp8sJILm8&callback=initMap">
</script>

